[data-highlights-ext-action="copy"],
[data-highlights-ext-action="copy-all"] {
  opacity: 1;
}

[data-highlights-ext-action="copy"].highlights-ext-pressed,
[data-highlights-ext-action="copy-all"].highlights-ext-pressed {
  animation: ext-hl-activate-button 0.3s alternate 2;
}

[data-highlights-ext-action="copy"] > *,
[data-highlights-ext-action="copy-all"] > * {
  pointer-events: none;
}

@keyframes ext-hl-activate-button {
  to {
    color: rgba(236, 192, 16, 1);
  }
}
