[data-highlights-ext-action="copy"],
[data-highlights-ext-action="copy-all"] {
  opacity: 1;
}

[data-highlights-ext-action="copy"].pressed,
[data-highlights-ext-action="copy-all"].pressed {
  animation: activate-button 0.3s alternate 2;
}

[data-highlights-ext-action="copy"] > *,
[data-highlights-ext-action="copy-all"] > * {
  pointer-events: none;
}

@keyframes activate-button {
  to {
    color: rgba(236, 192, 16, 1);
  }
}
